@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}
*::selection {
    padding: 0;
    margin: 0;
}
body {
    background: rgb(53, 54, 58);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.upperMenu {
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.upperMenu a {
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: calc(100% - 14px * 2);
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    transition: 0.2s;
}
.upperMenu .left {
    text-align: left;
}
.upperMenu .central {
    text-align: center;
}
.upperMenu .right {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: calc(100% - 14px * 2);
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    transition: 0.2s;
}
.upperMenu .right a {
    width: auto;
    margin-right: 19px;
}
.upperMenu .right div {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    transform: translateY(4px);
}

.leftMenu {
    height: 100vh;
    width: 300px;
    background: rgb(32, 33, 36);
    position: absolute;
    top: 0;
    transition: 0.6s;
    z-index: 3;
}
.leftMenu .arrow {
    height: 75px;
    width: 38px;
    background: rgb(32, 33, 36);
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
    position: absolute;
    top: calc(50% - 75px / 2);
    left: calc(300px - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.leftMenu .arrow img {
    height: 18px;
    width: 18px;
    transition: 0.6s;
}
.leftMenu .title {
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.leftMenu .title a {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
    width: calc(100% - 14px * 2);
    position: absolute;
    transition: 0.2s;
    text-align: center;
}

.rightMenu {
    height: 100vh;
    width: 300px;
    background: rgb(32, 33, 36);
    position: absolute;
    top: 0;
    transition: 0.6s;
    z-index: 3;
}
.rightMenu .arrow {
    height: 74px;
    width: 38px;
    background: rgb(32, 33, 36);
    border-top-left-radius: 37px;
    border-bottom-left-radius: 37px;
    position: absolute;
    top: calc(50% - 74px / 2);
    right: calc(300px - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.rightMenu .arrow img {
    height: 18px;
    width: 18px;
    transition: 0.6s;
}
.rightMenu .title {
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.rightMenu .title a {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
    width: calc(100% - 14px * 2);
    position: absolute;
    transition: 0.2s;
    text-align: center;
}
.rightMenu .logs {
    height: calc(100vh - 28px);
    width: 100%;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}
.rightMenu .logs a {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    font-weight: 300;
    width: 100%;
    height: auto;
}

.main {
    height: calc(100vh - 28px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .img1Div,
.main .img2Div,
.main .img3Div {
    height: 75%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    transform: translateY(5%);
}
.main .img3Div {
    height: 78vh;
    width: 80vw;
    transform: translateY(-2.4%);
}
.main .img1Div img,
.main .img2Div img {
    height: 660px;
}
.main .img3Div .dataMain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.main .img3Div .dataMain .leftBlock,
.main .img3Div .dataMain .rightBlock {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main .img3Div .dataMain .leftBlock div {
    height: calc((100% / 3) - (15px * 2) / 3);
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.main .img3Div .dataMain .leftBlock div div {
    height: calc(100% - 6px * 2 - 12px * 2);
    width: calc(50% - 6px * 2 - 16px * 2);
    border: solid 6px rgb(32, 33, 36);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: scroll;
}
.main .img3Div .dataMain .rightBlock .gyroscope {
    height: calc(100% / 3 - 6px * 2);
    width: calc(100% - 6px * 2);
    border: solid 6px rgb(32, 33, 36);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main .img3Div .dataMain .rightBlock .gyroscope .roll,
.main .img3Div .dataMain .rightBlock .gyroscope .pitch,
.main .img3Div .dataMain .rightBlock .gyroscope .yaw {
    width: calc(100%/3 - (6px * 2) / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main .img3Div .dataMain .rightBlock .gyroscope .roll .title,
.main .img3Div .dataMain .rightBlock .gyroscope .pitch .title,
.main .img3Div .dataMain .rightBlock .gyroscope .yaw .title {
    height: calc(16% - 5% * 2);
    width: calc(100% - 5% * 2);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    padding: 5%;
}
.main .img3Div .dataMain .rightBlock .gyroscope .roll .img,
.main .img3Div .dataMain .rightBlock .gyroscope .pitch .img,
.main .img3Div .dataMain .rightBlock .gyroscope .yaw .img {
    height: calc(84% - 10px * 2);
    width: calc(100% - 10px * 2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}.main .img3Div .dataMain .rightBlock .gyroscope .roll .img img,
.main .img3Div .dataMain .rightBlock .gyroscope .pitch .img img,
.main .img3Div .dataMain .rightBlock .gyroscope .yaw .img img{
    height: 88%;
}
.main .img3Div .dataMain .rightBlock .gyroscope .bar {
    width: 6px;
    height: 86%;
    background-color: rgb(32, 33, 36);
}
.main .img3Div .dataMain .rightBlock .map {
    height: calc((100% / 3) * 2 - 6px * 2 + 15px);
    width: calc(100% - 6px * 2);
    border: solid 6px rgb(32, 33, 36);
}

.changeDataImg {
    width: 17%;
    height: 35px;
    position: absolute;
    transform: translateX(-50%) translateY(-100%);
    left: 50%;
    top: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.changeDataImg .arrowLeft {
    height: 100%;
    width: 35px;
    background: rgb(32, 33, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeDataImg .arrowLeft img {
    height: 50%;
}
.changeDataImg .currentDataImg {
    height: 100%;
    width: calc(100% - 35px * 2 - 2px * 2);
    border-left: 2px solid rgb(53, 54, 58);
    border-right: 2px solid rgb(53, 54, 58);
    background: rgb(32, 33, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeDataImg .currentDataImg a {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    font-weight: 300;
}
.changeDataImg .arrowRight {
    height: 100%;
    width: 35px;
    background: rgb(32, 33, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeDataImg .arrowRight img {
    height: 50%;
}
